* {
    box-sizing: border-box !important;
}

body {
    margin: 0 !important;
}

.footer {
     background: #000000 !important;
     color: red !important;
     display: flex !important;
     justify-content: space-between !important;
     align-items: center !important;
     gap: 2rem !important;
     padding: 0 30rem !important;
     height: 200px !important;
     width: 100% !important;
}

.footer ul {
    list-style: none;
    display:flex;
    gap:1rem;
}

.footer li {
    color:red;
}

.footer .instagram-icon:hover {
    color:white;
}

.footer svg {
    fill: red;
    transition: fill 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover state - white icons */
.footer a:hover svg {
    fill: white;
}