* {
    box-sizing: -box;
}

body{
    margin: 0;
}

.footer {
     background:black;
     color:red;
     display:flex;
     justify-content: space-between;
     align-items: center;
     gap: 2rem;
     padding: 0 30rem;
     height:100px;
}

.footer ul {
    list-style: none;
    display:flex;
    gap:1rem;
}

.footer li {
    color:red;
}

.footer .instagram-icon:hover {
    color:white;
}

