.footer {
    justify-content: space-between;
    display:inline;
    margin:20px;
    padding-top: 300px;

}

.footer-container {
    background-color:transparent;

}

.footer p {
    color:red;
}



