

.card .card-image {
  max-width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card .card-image:hover {
  opacity: 50%;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding-left: 20px;
  color: hsl(0, 0%, 100%);
  text-align: left;
  height: 25px;
}

.card .card-text {
  font-family: Arial;
  text-align: left;
  padding-left: 20px;
  height: 10px;
}

.card .add-to-cart {
  margin-bottom: 20px;
  width: 90%;
  height: 8%;
}

.footer {
  text-align: center;
}

.card .card-br {
  width: 80%;
  color: red;
}

/* Featured Items Section */
.featured-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 40px 0 30px 0;
}

.featured-items {

  text-align: center;
  margin: 0 0 1px 0;
  height: auto;
  font-size: 1.2rem;
  color: #fff;
}

hr {
  width: 12%;
  height: 2px;
  background: white;
  border: none;
  margin: 0;
  border-radius: 2px;
}

.product-cards {
  margin-left: 4%;
}