* {
    box-sizing: -box;
}

body{
    margin: 0;
}

.nav {
    background-color:black;
    color:red;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    position:sticky;
    top:0;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display:flex;
    gap:1rem;
}

.nav a {
    color:inherit;
    text-decoration:none;
}


.site-logo {
    font-size: 48px;
}

.menu-tab:hover{
    color:white;
}

.cart-tab:hover{
    color:white;
}

.account-tab:hover{
    color:white;
}