.store-item-card {
    transition: transform .4s ease, box-shadow .4s ease;
    width: 200px;
  }
  
  .store-item-card:hover {
    transform: translateY(-8px);

  }
  
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .img-overlay {
    opacity: 0.3; /* Adjust for stronger or softer overlay */
  }
  