


.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  padding: 0.5rem;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, opacity 0.3s ease;
  max-width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.02);
  opacity: 0.98;
}

.card .card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem 0 0.25rem 0;
  padding: 0 1rem;
  color: #222;
  text-align: left;
}

.card .card-text {
  font-family: Arial;
  font-size: 0.9rem;
  text-align: left;
  padding: 0 1rem 0.5rem 1rem;
  color: black;
}

.card .add-to-cart {
  margin: 0.5rem auto 1rem;
  width: 90%;
  height: 2rem;
  font-size: 0.9rem;
}

.product-cards {
  margin: 0 auto;
  padding-bottom: 8rem;
  max-width: 1500px;
}

.featured-items {
  margin-left: 5%;
  font-size: 1.5rem;
  margin-top: 2rem;
  color:rgb(0, 0, 0);
}

hr {
  width: 15%;
  margin-left: 5%;
  margin-bottom: 2rem;
  color:rgb(0, 0, 0);
}

.store-item-card {
  height: 100%;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.store-item-card:hover {
  transform: scale(1.02);
  opacity: 0.98;
}
